<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
    </head>

    <body>
        <header>
          <h1 id="titulo" ="texto"><div class="card-panel green darken-3 z-depth-4">Aulas Akira</div></h1>

      <article>
        <div class="card-panel indigo">
          <h1>Novidades: </h1>
        </div>
      </article>
    </body>
</html>
