<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

    <body>
      <header>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel green #669A84F z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3 card-image"><img src="/assets/logo.png" alt="" width="60%" ></div>
              <div class="col s5 center-align white-text"><h2>Quem somos ?</h2></div>
              <div class="col s4">
                <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
                <h6><i class="material-icons left">mail</i>cursinhopsico.inscricao@gmail.com</h6>
                <h6><i class="material-icons left">location_on</i>Av. Professor Mello Moraes, 1721, São Paulo – SP</h6>
              </div>
            </div>
          </div>
        </div>

          <nav id="navegacao">
            <div class="nav-wrapper 1b5e20 green darken-4">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/cursinho/index" target="_blank";>HOME</a></li>
                <li><a href="/sobre/quemsomos" target="_blank" ;>Quem somos</a></li>
                <li><a href="Textos.html" target="_blank" ; >Disciplinas</a></li>
                <li><a href="teste2.html" target="_blank" ; >Matrículas</a></li>
                <li><a href="teste2.html" target="_blank" ; >Apoio Psicológico</a></li>
                <li><a href="/cursinho/trabalheconosco" target="_blank" ; >Trabalhe conosco</a></li>
                <li><a href="teste2.html" target="_blank" ; >Contato</a></li>
            </div>
          </nav>
        </header>

      <article>
        <div class="card-small">
          <h2></h2>
        </div>
          <div class="row container">
              <div class="col s4"><a href="/sobre/sobrenos" class="waves-effect waves-light btn-large green darken-4"><i class="material-icons left">person</i>Quem somos</a></div>
              <div class="col s4"><a class="waves-effect waves-light btn-large green darken-4"><i class="material-icons left">laptop</i>Nossas propostas</a></div>
              <div class="col s4"><a class="waves-effect waves-light btn-large green darken-4"><i class="material-icons left">markunread</i>Carta: Coordenação</a></div>
          </div>
      </article>
    </body>
</html>
