<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

    <body>
      <header>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel green #669A84F z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3 card-image"><img src="/assets/logo.png" alt="" width="60%" ></div>
              <div class="col s5 center-align white-text"><h2>Quem somos ?</h2></div>
              <div class="col s4">
                <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
                <h6><i class="material-icons left">mail</i>cursinhopsico.inscricao@gmail.com</h6>
                <h6><i class="material-icons left">location_on</i>Av. Professor Mello Moraes, 1721, São Paulo – SP</h6>
              </div>
            </div>
          </div>
        </div>

        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/materia/matematica">Matemática</a></li>
          <li><a href="#!">Física</a></li>
          <li class="divider"></li>
          <li><a href="#!">Química</a></li>
          <li><a href="#!">História</a></li>
          <li><a href="#!">Geografia</a></li>
          <li><a href="#!">Biologia</a></li>
          <li><a href="#!">Línguas</a></li>
          <li><a href="#!">Sociologia</a></li>
          <li><a href="#!">Filosofia</a></li>
          <li><a href="#!">Inglês</a></li>
          </ul>
          <nav id="navegacao">
            <div class="nav-wrapper green darken-3">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/cursinho/index" >Home</a></li>
                <li><a href="/sobre/quemsomos" >Quem somos?</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="" >Matrículas</a></li>
                <li><a href="" >Apoios Psicológico</a></li>
                <li><a href="/cursinho/trabalheconosco" >Trabalhe Conosco</a></li>
                <li><a href="" >Contato</a></li>
                </ul>
            </div>
          </nav>
        </header>

      <article>
        <div class="card-small">
          <h2></h2>
        </div>
      </article>

      <div class="card horizontal">
      <div class="card-image">
        <img src="/assets/logo.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>O Cursinho Popular e Pré-Universitário da Psico é um projeto educacional sem fins lucrativos coordenado por estudantes do Instituto de Psicologia (IP) da Universidade de São Paulo (USP) que atendem jovens e adultos de baixa renda que desejam ingressar na Universidade.</p>
          <p>A partir do conceito de Pré-Universitário, o Cursinho oferece aos seus alunos uma forma de ensino ampla, que extrapola os limites do vestibular, levando em conta a formação política e cultural dos estudantes. Seus principais objetivos, descritos em seu Projeto Político-Pedagógico, são levar aos jovens e adultos de camadas populares uma extensão dos conhecimentos produzidos pela universidade, aumentar as chances de entrada e permanência desses estudantes nas universidades públicas, bem como oferecer uma formação crítica sobre os deveres e direitos dos cidadãos.</p>
          <p>As aulas no cursinho abrangem todas as áreas (humanas, exatas e biológicas) e acontecem no período noturno de segunda a sexta e aos sábados de manhã. A secretaria do cursinho funciona na sala 30 do Centro Acadêmico e as aulas acontecem no Bloco B.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    </body>
</html>
