<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

  <header>
    <div class="col s12 s8 offset-s2 s6 offset-m3">
        <div class="card-panel green #669A84F z-depth-1 card-small">
          <div class="row valign-wrapper">
            <div class="col s6 ">
              <img src="/assets/logo.png" alt="" width="25%">
            </div>
            <div class="col s6">
              <span class="black-text">
                <a class="waves-effect orange accent-3 btn-large">Login</a>
              </span>
            </div>
          </div>
        </div>
    </div>

    <nav id="navegacao" >
      <div class="nav-wrapper green darken-3">
        <ul id="nav-mobile" class="left">
          <li><a data-target="slide-out" class="sidenav-trigger"><i class="material-icons green darken-3 hide-on-large-only">menu</i></a></li>
          <li><a href="/cursinho/index" class="hide-on-med-and-down" >Home</a></li>
          <li><a href="/sobre/quemsomos" class="hide-on-med-and-down" >Quem somos?</a></li>
          <li><a class="dropdown-trigger hide-on-med-and-down" data-target="dropdown1">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="" class="hide-on-med-and-down" >Matrículas</a></li>
          <li><a href="" class="hide-on-med-and-down" >Apoios Psicológico</a></li>
          <li><a href="/cursinho/trabalheconosco" class="hide-on-med-and-down">Trabalhe Conosco</a></li>
          <li><a href="" class="hide-on-med-and-down">Contato</a></li>
        </ul>
      </div>
    </nav>

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/materia/matematica" class="green darken-3 white-text">Matemática</a></li>
      <li><a href="#!" class="green darken-3 white-text">Física</a></li>
      <li><a href="#!" class="green darken-3 white-text">Química</a></li>
      <li><a href="#!" class="green darken-3 white-text">História</a></li>
      <li><a href="#!" class="green darken-3 white-text">Geografia</a></li>
      <li><a href="#!" class="green darken-3 white-text">Biologia</a></li>
      <li><a href="#!" class="green darken-3 white-text">Línguas</a></li>
      <li><a href="#!" class="green darken-3 white-text">Sociologia</a></li>
      <li><a href="#!" class="green darken-3 white-text">Filosofia</a></li>
      <li><a href="#!" class="green darken-3 white-text">Inglês</a></li>
    </ul>

<<<<<<< HEAD
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/materia/matematica">Matemática</a></li>
      <li><a href="#!">Física</a></li>
      <li><a href="#!">Química</a></li>
      <li><a href="#!">História</a></li>
      <li><a href="#!">Geografia</a></li>
      <li><a href="#!">Biologia</a></li>
      <li><a href="#!">Línguas</a></li>
      <li><a href="#!">Sociologia</a></li>
      <li><a href="#!">Filosofia</a></li>
      <li><a href="#!">Inglês</a></li>
    </ul>
=======
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/materia/matematica" class="green darken-3 white-text">Matemática</a></li>
        <li><a href="/materia/fisica" class="green darken-3 white-text">Física</a></li>
        <li><a href="/materia/quimica" class="green darken-3 white-text">Química</a></li>
        <li><a href="/materia/historia" class="green darken-3 white-text">História</a></li>
        <li><a href="/materia/geografia" class="green darken-3 white-text">Geografia</a></li>
        <li><a href="/materia/biologia" class="green darken-3 white-text">Biologia</a></li>
        <li><a href="/materia/linguas" class="green darken-3 white-text">Línguas</a></li>
        <li><a href="/materia/sociologia" class="green darken-3 white-text">Sociologia</a></li>
        <li><a href="/materia/filosofia" class="green darken-3 white-text">Filosofia</a></li>
        <li><a href="/materia/ingles" class="green darken-3 white-text">Inglês</a></li>
      </ul>
      <nav id="navegacao">
        <div class="nav-wrapper green darken-3">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/cursinho/index" >Home</a></li>
            <li><a href="/sobre/quemsomos" >Quem somos?</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="" >Matrículas</a></li>
            <li><a href="" >Apoios Psicológico</a></li>
            <li><a href="/cursinho/trabalheconosco" >Trabalhe Conosco</a></li>
            <li><a href="" >Contato</a></li>
            </ul>
        </div>
      </nav>
    </header>
>>>>>>> 759863e4c23741e90c3f694641250fabc37da866

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <!--<img class="circle" src="/assets/capa3.jpg">-->
          </div>
          <a "><img class="circle" src="/assets/capa3.jpg"></a>
          <a "><span class="black-text name">Paulo Akira</span></a>
          <a "><span class="black-text email">paulo.akira@gmail.com</span></a>
        </div>
      </li>
      <li><a href="#!">Home</a></li>
      <li><a href="#!">Quem somos?</a></li>
      <li><a data-target="dropdown2" class="dropdown-trigger">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#!">Matrículas</a></li>
      <li><a href="#!">Apoios Psicológicos</a></li>
      <li><a href="#!">Trabalhe Conosco</a></li>
      <li><a href="#!">Contato</a></li>
    </ul>
  </header>

  <body>

    <div class="col s12 m6">
          <div class="card horizontal card medium">
            <div class="card-image">
              <img src="/assets/capa2.png">
              <span class="card-title">Cursinho da Psico !</span>
            </div>
            <div class="card-content">
              <p id="fonte">Avisos!</p>
            </div>

          </div>
    </div>

    <footer class="page-footer green darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Onde estamos?</h5>
              <p class="grey-text text-lighten-4">Av. Professor Mello Moraes, 1721, São Paulo – SP</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
                <h6><i class="material-icons left">mail</i>cursinhopsico@gmail.com</h6>
              </ul>
            </div>
          </div>
        </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Paulo André SR & Co.
        </div>
      </div>
    </footer>

  </body>
</html>
