<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
    </head>

    <body>
        <header>

        <div class="col s12 s8 offset-s2 s6 offset-m3">
        <div class="card-panel green #669A84F z-depth-1 card-small">
          <div class="row valign-wrapper">
            <div class="col s6 ">
              <img src="/assets/logo.png" alt="" width="25%">
            </div>
            <div class="col s6">
              <span class="black-text">
                <a class="waves-effect orange accent-3 btn-large">Login</a>
              </span>
            </div>
          </div>
        </div>
      </div>



      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/materia/matematica" class="green darken-3 white-text">Matemática</a></li>
        <li><a href="/materia/fisica" class="green darken-3 white-text">Física</a></li>
        <li><a href="/materia/quimica" class="green darken-3 white-text">Química</a></li>
        <li><a href="/materia/historia" class="green darken-3 white-text">História</a></li>
        <li><a href="/materia/geografia" class="green darken-3 white-text">Geografia</a></li>
        <li><a href="/materia/biologia" class="green darken-3 white-text">Biologia</a></li>
        <li><a href="/materia/linguas" class="green darken-3 white-text">Línguas</a></li>
        <li><a href="/materia/sociologia" class="green darken-3 white-text">Sociologia</a></li>
        <li><a href="/materia/filosofia" class="green darken-3 white-text">Filosofia</a></li>
        <li><a href="/materia/ingles" class="green darken-3 white-text">Inglês</a></li>
      </ul>
      <nav id="navegacao">
        <div class="nav-wrapper green darken-3">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/cursinho/index" >Home</a></li>
            <li><a href="/sobre/quemsomos" >Quem somos?</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="" >Matrículas</a></li>
            <li><a href="" >Apoios Psicológico</a></li>
            <li><a href="/cursinho/trabalheconosco" >Trabalhe Conosco</a></li>
            <li><a href="" >Contato</a></li>
            </ul>
        </div>
      </nav>
    </header>

    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="/assets/capa3.jpg">
          </div>
          <a href="#user"><img class="circle" src="/assets/capa3.jpg"></a>
          <a href="#name"><span class="white-text name">Paulo Akira</span></a>
          <a href="#email"><span class="white-text email">paulo.akira@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
      
      <a href="#" data-target="slide-out" class="sidenav-trigger" ><i class="waves-effect orange accent-3 btn" style="bottom: 50px; right: -1120px;">menu</i></a>


        <div class="col s12 m6">
          <div class="card horizontal card medium">
            <div class="card-image">
              <img src="/assets/capa2.png">
              <span class="card-title">Cursinho da Psico !</span>
              <div class="fixed-action-btn">
                <a class="btn-floating btn-large green darken-3">
                  <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <p id="fonte">Avisos!</p>
            </div>
          </div>
        </div>
      </div>

      
      <footer class="page-footer green darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Onde estamos?</h5>
            <p class="grey-text text-lighten-4">Av. Professor Mello Moraes, 1721, São Paulo – SP</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
              <h6><i class="material-icons left">mail</i>cursinhopsico@gmail.com</h6>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Paulo Akira & Co.
        </div>
      </div>
    </footer>
        


    </body>
</html>
