<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
    </head>

    <body>
        <header>

        <div class="col s12 s8 offset-s2 s6 offset-m3">
        <div class="card-panel green #669A84F z-depth-1 card-small">
          <div class="row valign-wrapper">
            <div class="col s6 ">
              <img src="/assets/logo.png" alt="" width="25%">
            </div>
            <div class="col s6">
              <span class="black-text">
                <a class="waves-effect orange accent-3 btn-large">Login</a>
              </span>
            </div>
          </div>
        </div>
      </div>



          <nav id="navegacao">
            <div class="nav-wrapper green darken-3">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/cursinho/index" >Home</a></li>
                <li><a href="/sobre/quemsomos" >Quem somos?</a></li>
                <li><a href="" >Disciplinas</a></li>
                <li><a href="" >Matrículas</a></li>
                <li><a href="" >Apoios Psicológico</a></li>
                <li><a href="/cursinho/trabalheconosco" >Trabalhe Conosco</a></li>
                <li><a href="" >Contato</a></li>
            </div>
          </nav>
        </header>



        <div class="col s12 m6">
          <div class="card horizontal card medium">
            <div class="card-image">
              <img src="/assets/capa.png">
              <span class="card-title">Cursinho da Psico !</span>
              <a class="btn-floating halfway-fab waves-effect waves-light green darken-3" data-target="dropdown1"><i class="material-icons">add</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
              </ul>
            </div>
            <div class="card-content">
              <p>Aviso !</p>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
