<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

    <body>
      <header>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel green #669A84F z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3 card-image"><img src="/assets/logo.png" alt="" width="60%" ></div>
              <div class="col s5 center-align white-text"><h2>Filosofia</h2></div>
            </div>
            </div>
          </div>
        </div>

        <ul id="dropdown1" class="dropdown-content">
        <li><a href="/materia/matematica" class="green darken-3 white-text">Matemática</a></li>
        <li><a href="/materia/fisica" class="green darken-3 white-text">Física</a></li>
        <li><a href="/materia/quimica" class="green darken-3 white-text">Química</a></li>
        <li><a href="/materia/historia" class="green darken-3 white-text">História</a></li>
        <li><a href="/materia/geografia" class="green darken-3 white-text">Geografia</a></li>
        <li><a href="/materia/biologia" class="green darken-3 white-text">Biologia</a></li>
        <li><a href="/materia/linguas" class="green darken-3 white-text">Línguas</a></li>
        <li><a href="/materia/sociologia" class="green darken-3 white-text">Sociologia</a></li>
        <li><a href="/materia/filosofia" class="green darken-3 white-text">Filosofia</a></li>
        <li><a href="/materia/ingles" class="green darken-3 white-text">Inglês</a></li>
      </ul>
      <nav id="navegacao">
        <div class="nav-wrapper green darken-3">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/cursinho/index" >Home</a></li>
            <li><a href="/sobre/quemsomos" >Quem somos?</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="" >Matrículas</a></li>
            <li><a href="" >Apoios Psicológico</a></li>
            <li><a href="/cursinho/trabalheconosco" >Trabalhe Conosco</a></li>
            <li><a href="" >Contato</a></li>
            </ul>
        </div>
      </nav>
      </nav>
    </header>

      <article>

          <div class="row valign-wrapper">
              <div class="col s2"></div>
              <div class="col s3"><div class="collection">
                <a href="#" class="collection-item header active 1b5e20 green darken-4">Listas </a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 1</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 2</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 3</a></div></div>
              <div class="col s2"> </div>
              <div class="col s3">      <div class="collection">
                <a href="#" class="collection-item header active 1b5e20 green darken-4">Notas de Aula </a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 1</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 2</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 3</a>
      </div></div>
              <div class="col s2"> </div></div>

              

      </article>

      <footer class="page-footer green darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Onde estamos?</h5>
            <p class="grey-text text-lighten-4">Av. Professor Mello Moraes, 1721, São Paulo – SP</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
              <h6><i class="material-icons left">mail</i>cursinhopsico@gmail.com</h6>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Paulo Akira & Co.
        </div>
      </div>
    </footer>
    </body>
</html>
