<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

    <body>
      <header>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel green #669A84F z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s6 card-image">
                <img src="/assets/logo.png" alt="" width="30%" >
              </div>
              <div class="col s6">

              </div>
            </div>
          </div>
        </div>

          <nav id="navegacao">
            <div class="nav-wrapper 1b5e20 green darken-4">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="CursinhoPsico.html" target="_blank";>HOME</a></li>
                <li><a href="Universidade.html" target="_blank" ;>Quem somos</a></li>
                <li><a href="Textos.html" target="_blank" ; >Disciplinas</a></li>
                <li><a href="teste2.html" target="_blank" ; >Matrículas</a></li>
                <li><a href="teste2.html" target="_blank" ; >Apoio Psicológico</a></li>
                <li><a href="teste2.html" target="_blank" ; >Trabalhe conosco</a></li>
                <li><a href="teste2.html" target="_blank" ; >Contato</a></li>
            </div>
          </nav>
        </header>

      <article>
        <div class="card-small green 669A84F z-depth-1 valign-wrapper ">
          <h2>Matemática: </h2>
        </div>

          <div class="row valign-wrapper">
              <div class="col s2"></div>
              <div class="col s3"><div class="collection">
                <a href="#" class="collection-item header active 1b5e20 green darken-4">Listas</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 1</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 2</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Lista 3</a></div></div>
              <div class="col s2"> </div>
              <div class="col s3">      <div class="collection">
                <a href="#" class="collection-item header active 1b5e20 green darken-4">Notas de Aula</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 1</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 2</a>
                <a href="#" class="collection-item 1b5e20 green-text darken-4">Aula 3</a>
      </div></div>
              <div class="col s2"> </div></div>

      </article>
    </body>
</html>
